*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

h1{
    font-family: "Oswald", sans-serif;
    font-size: 42px;
}

h2{
    font-family: "Oswald", sans-serif;
    font-size: 32px;
    line-height: 1;
}

.icon{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

a{
    cursor: pointer;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.modal{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 16px;
    border: 2px solid var(--bg3);
    background-color: var(--bg2);
    border-radius: 20px;
    gap: 12px;
    z-index: 3;
}

.modal-buttons{
    display: flex;
    gap: 12px;
    justify-content: center;
}

.modal-buttons button{
    padding: 8px 20px;
    background-color: var(--text1);
    color: var(--bg1);
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.modal-buttons .delete{
    background-color: var(--orange);
    color: var(--white);
}

.form-input{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-input input{
    padding: 16px;
    background-color: var(--bg1);
    color: var(--text1);
    border: 2px solid var(--bg3);
    outline: none;
    font-size: 16px;
    border-radius: 32px;
    transition: all 0.3s ease-in-out;
}

.form-input input:hover, .form-input input:focus{
    border-radius: 8px;
    border: 2px solid var(--orange);
}

.form-password{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    border-radius: 32px;
    transition: all 0.3s ease-in-out;
}

.form-password input:hover, .form-password input:focus{
    border: 2px solid var(--orange);
    border-radius: 8px;
}

.form-password input{
    width: 100%;
}

.form-password button{
    position: absolute;
    background-color: var(--bg1);
    border-radius: 32px;
    display: flex;
    border: none;
    outline: none;
    right: 16px;
    cursor: pointer;
}

.form-password button img{
    width: 24px;
    height: 24px;
}

.form-button{
    padding: 16px;
    font-size: 16px;
    background-color: var(--orange);
    color: var(--white);
    border: 2px solid var(--bg1);
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.form-button:hover{
    border-radius: 32px;
    border: 2px solid var(--text1);
}
