.layout{
	display: flex;
	padding: 16px;
	height: 100vh;
	gap: 16px;
	background-color: var(--bg1);
	color: var(--text1);
}

.page-contents{
    display: flex;
    justify-content: center;
	border: 2px solid var(--bg3);
    background-color: var(--bg2);
	line-height: 1;
	width: 100%;
	border-radius: 32px;
    overflow: scroll;
}
    
@media(max-width: 440px){
    .layout{
        flex-direction: column;
    }
    .page-contents{
        height: 100vh;
    }
}