.register-page{
    display: flex;
    height: 100vh;
    padding: 8px;
    gap: 8px;
    background-color: var(--bg2);
    color: var(--text1);
}

.register-page img{
    width: calc(50% - 4px);
    object-fit: cover;
    border-radius: 8px;
}

.register-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 16px 10%;
    width: 50%;
    height: 100%;
    gap: 16px;
    border-radius: 8px;
}

.register-form p{
    margin: 0 auto;
}

.register-form a{
    text-decoration: underline;
    color: var(--text1);
}

.register-form a:hover{
    color: var(--orange);
}

@media(max-width: 1080px){
    .register-form{
        padding: 16px;
    }
}

@media(max-width: 600px){
    .register-banner{
        display: none;
    }

    .register-form{
        width: 100%;
    }
}

@media(max-width: 400px){
    .register-page{
        margin: 0;
        border: none;
        height: 100vh;
    }
}