.user{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.user-header{
    display: flex;
    justify-content: space-between;
}

.user-image{
    width: 120px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--white);
    border: 2px solid var(--bg3);
}

.user-details{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 8px;
}

.user-details-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-edit-button{
    width: fit-content;
    padding: 8px 16px;
    font-size: 16px;
    height: fit-content;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--text1);
    color: var(--bg1);
}

.user-edit-button:hover{
    background-color: var(--orange);
    color: var(--white);
}

.user-user-details{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-top: auto;
}

.user-user-details p{
    cursor: pointer;
}

.user-empty{
    display: grid;
    place-content: center;
    height: 100%;
    border-top: 2px solid var(--bg3);
}