.user{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.user hr{
    border: 1px solid var(--bg3);
}

.user-header{
    display: flex;
    justify-content: space-between;
}

.user-image{
    width: 120px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--white);
    border: 2px solid var(--bg3);
}

.user-details{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 8px;
}

.user-details-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-toggle-follow-button{
    display: flex;
    padding: 12px;
    border-radius: 50%;
    border: 2px solid var(--bg3);
    outline: none;
    cursor: pointer;
    background-color: var(--bg2);
}

.user-toggle-follow-button:hover{
    background-color: var(--text1);
}

.user-user-details{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-top: auto;
}

.user-user-details p{
    cursor: pointer;
}

.user-empty{
    display: grid;
    place-content: center;
    height: 100%;
}