.posts{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    gap: 4px;
}

.posts-post{
    display: flex;
    width: calc(50% - 2px);
    background-color: var(--text1);
    cursor: pointer;
}

.posts-post :hover{
    background-color: var(--orange);
}

.posts-post img{
    width: 100%;
    padding: 4px;
}

.posts-post.skeleton{
    width: calc(50% - 2px);
    background: linear-gradient(
        90deg,
        var(--bg2) 20%,   
        var(--bg3) 40%,   
        var(--bg3) 60%,   
        var(--bg2) 80%    
    );
    background-size: 200% 100%;
    border: 2px solid var(--orange);
    animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}
