.posts{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    gap: 4px;
}

.posts-post{
    display: flex;
    width: calc(50% - 2px);
    background-color: var(--text1);
    cursor: pointer;
}

.posts-post :hover{
    background-color: var(--orange);
}

.posts-post img{
    width: 100%;
    padding: 4px;
}