.update-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 16px;
    padding: 16px;
}

@media(max-width: 1080px){
    .update-form{
        width: 70%;
    }
}

@media(max-width: 720px){
    .update-form{
        width: 100%;
    }
}