.logo{
    position: fixed;
    top: 24px;
    left: 24px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo h2{
    color: var(--text1);
}

.logo img{
    width: 40px;
    height: 40px;
}