.home{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 16px;
    height: calc(100vh - 32px);
    box-sizing: border-box;
}

.home-posts{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    height: calc(100%);
    max-width: 720px;
    overflow: scroll;
}

.home-post{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    border: 2px solid var(--bg3);
    border-radius: 12px;
    background-color: var(--bg1);
}

.home-post img{
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.home-post-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-post-like{
    display: flex;
    align-items: center;
    gap: 8px;
}

.home-post-comment{
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}