.profile{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 16px;
    gap: 16px;
}

.profile hr{
    border: 1px solid var(--bg3);
}

.profile-header{
    display: flex;
    justify-content: space-between;
}

.profile-image{
    width: 120px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--white);
    border: 2px solid var(--bg3);
    object-fit: cover;
}

.profile-details{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 8px;
}

.profile-details-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-edit-button{
    display: flex;
    padding: 12px;
    border-radius: 50%;
    border: 2px solid var(--bg3);
    outline: none;
    cursor: pointer;
    background-color: var(--bg2);
    transition: all 0.3s ease-in-out;
}

.profile-edit-button:hover{
    border-radius: 8px;
    border: 2px solid var(--orange);
}

.profile-user-details{
    display: flex;
    /* width: 70%; */
    justify-content: space-between;
    margin-top: auto;
}

.profile-user-details p{
    cursor: pointer;
}

.profile-empty{
    display: grid;
    place-content: center;
    height: 100%;
}

.profile-another{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px;
}

.profile-select{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px;
}

@media(max-width: 1080px){
    .profile{
        width: 70%;
    }

    .profile-image{
        width: 80px;
        height: 80px;
    }
}

@media(max-width: 720px){
    .profile{
        width: 100%;
    }
}