.add-post-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 16px;
    overflow: scroll;
}

.add-post-input{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.add-post-input input[type="file"]{
    display: none;
}

.add-post-label-input{
    cursor: pointer;
    padding: 16px;
    background-color: var(--bg1);
    color: var(--text1);
    border: 2px solid var(--bg3);
    outline: none;
    font-size: 16px;
    border-radius: 32px;
    transition: all 0.3s ease-in-out;
}

.add-post-label-input:hover{
    border-radius: 8px;
    border: 2px solid var(--orange);
}

.add-post-input input[type="file"]::file-selector-button{
    visibility: hidden;
    display: none;
}

.add-post-images{
    width: 100%;
    display: flex;
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    background: var(--bg3);
    border-radius: 12px;
}

.add-post-image{
    display: flex;
    width: 100%;
    flex-shrink: 0;
    scroll-snap-align: center; 
    position: relative;
}

.add-post-image img{
    width: 100%;
    object-fit: contain;
}

.add-post-remove-image{
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: flex;
    border-radius: 50%;
    background-color: var(--bg2);
    padding: 12px;
    border: 2px solid var(--bg3);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.add-post-remove-image:hover{
    border-radius: 8px;
    border: 2px solid var(--orange);
    /* background-color: var(--text1); */
}

.add-post-remove-image img{
    width: 24px;
    height: 24px;
}

@media(max-width: 1080px){
    .add-post-form{
        width: 70%;
    }
}

@media(max-width: 720px){
    .add-post-form{
        width: 100%;
    }
}