.verification{
    display: flex;
    height: 100vh;
    padding: 8px;
    gap: 8px;
    background-color: var(--bg2);
    color: var(--text1);
}

.verification-banner{ 
    width: calc(50% - 4px);
    object-fit: cover;
    border-radius: 8px;
}

.verification-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 16px 10%;
    width: 50%;
    height: 100%;
    gap: 16px;
    border-radius: 8px;
}

.verification-form a{
    margin-left: auto;
    text-decoration: underline;
    color: var(--text1);
}

.verification-form a:hover{
    color: var(--orange);
}

.back-button{
    display: flex;
    top: 16px;
    background-color: var(--bg1);
    border: none;
    outline: none;
    width: fit-content;
    justify-content: center;
    /* justify-content: flex-start; */
    cursor: pointer;
    align-items: center;
}

/* .back-button img{
    width: 24px;
    height: 24px;
} */

@media(max-width: 1080px){
    .verification-form{
        padding: 16px;
    }
}

@media(max-width: 600px){
    .verification img{
        display: none;
    }
    
    .verification-form{
        width: 100%;
    }
}

@media(max-width: 400px){
    .verification{
        margin: 0;
        border: none;
        height: 100vh;
    }
}