.search{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 16px;
    padding: 16px;
}

.search-bar{
    padding: 16px 20px;
    background-color: var(--bg1);
    color: var(--text1);
    border: 2px solid var(--bg3);
    outline: none;
    font-size: 16px;
    border-radius: 32px;
    transition: all 0.3s ease-in-out;
}

.search-bar:hover, .search-bar:focus{
    border: 2px solid var(--orange);
    border-radius: 8px;
}